img{
    border-radius: 200px;
    width: 400px;
    height: 250px;
}

table{
    border: 1px solid black;
}

th{
    background-color: lightgray;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

a{
    text-transform: none;
    text-decoration: none;
    color: black;
}